<h2>Ny liste</h2>
Opdateringer bliver sendt ud kl. 17:00 GMT+0, dvs. kl. 19:00 for sommertid, og klokken 18:00 for vintertid.
<%= render 'layouts/new_list' %>
<% @lists.each do |list| %>
<table>
	<tr>
    <td class="stock_list">
      <h2>
    <%= link_to list.name, 	
                :controller => 'stocks',
                :action     => 'new', 
                :list_id    => list.id %>
      </h2>
    </td>
    <td style="vertical-align:bottom;">
    <%= link_to "Fjern liste",
                  list,
                  :method     => :delete, 
                  :confirm    => "Sikker på at du vil slette listen?",
                  :title      => "Slet #{list.name}" %>
    </td>
	</tr>
</table>
<%= form_for(@stock) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.collection_select(
                 :stock_yank_id,
                 StockYank.all,
                 :id,
                 :name
                ) %>
  </div>
  <%= f.hidden_field :list_id, :value => list.id %>
  <div class="actions">
    <%= f.submit "Tilføj aktie" %>
  </div>
<% end

## Aktier for en given liste outputtes
  list.stocks.each do |stock| 
    stock_yank = stock.stock_yank 
%>
    <table>
      <tr>
      	<td class="stock_list">
<%= h stock_yank.name %>
        </td>
        <td>
<%= link_to 'Fjern aktie',
            stock,
            :method     => :delete,
            :confirm    => "Sure?" %>
        </td>
      </tr>
    </table>
  <% end %>
  <% if list.deliver_mail then link_text = "Send ikke listen til din mail" else link_text = "Send listen til din mail" end %>
    <%= link_to link_text, :controller => 'lists', :action => 'toggle_mail', :list_id => list.id %>
  <hr class="new_list_divider" />
<% end %>
