<h2>Ny liste</h2>

<% form_for(@list) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.submit "Tilføj liste" %>
  </div>
<% end %>
<% @lists.each do |list| %>
  <h2><%= link_to list.name, :controller => 'stocks', :action => 'new', :list_id => list.id  %> | <%= link_to "delete", list, :method => "delete", :confirm => "Sikker på at du vil slette listen?" %></h2>
<% end %>
