<h1>Notes</h1>
<%= link_to "Add note", new_note_path %><br />
<% no_notes_msg = "No notes to display" unless @notes.any? %>
<%= no_notes_msg %>
<% @notes.each do |n| %>
  <div style="float:right;">
    <%= link_to "Edit", edit_note_path(n.id) %>
    <%= link_to "Destroy", n, :method => "delete" %><br />
  </div>
  <%= n.body %>
  <div style="clear:both;"></div>
<% end %>
