<%= form_for @note do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= f.hidden_field :trade_id %>
  <div class="field">
    <%= f.label :Note %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.submit "Add note" %>
  </div>
<% end -%>
