<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Aktier for <%= @user.name %></h1>
    <%= Time.now %>
    <% @portfolios.each_with_index do |p, index| %>
		<h2><%= p.name %></h2>
<% @stocks.each do |s| %>
<h3><%= s[index][:name] %></h3>
		<p>
<%= s[index][:bid] %>
		</p>
		<% end %>
	<% end %>
  </body>
</html>
