<h1>Portfolios</h1>
<p style="margin:0; padding:0;"><%= link_to "Add new portfolio", new_portfolio_path %></p>
<% if @portfolios == [] %>
  It looks like you haven't created a portfolio yet. You can make one in the form below.
<% end %>
<% @portfolios.each do |portfolio| %>
<div class="portfolio">
  <div class="summary">
    <h2>Summary</h2>
    <table cellspacing="0">
      <tr>
        <td>Cash</td>
        <td>
    <%= portfolio.current_amount.round(2) %>
        </td>
      </tr>
      <tr>
        <td>Difference</td>
        <td>
    <%= portfolio.difference(quotes).round(2) %>
        </td>
      </tr>
      <tr>
        <td>Starting amount</td>
        <td>
    <%= portfolio.start_amount.round(2) %>
        </td>
      </tr>
      <tr>
        <td>Total value</td>
        <td>
    <%= portfolio.total_value(quotes).round(2) %>
        </td>
      </tr>
      <!--
      <tr>
        <td>Send mail?</td>
        <td>
    <% # if portfolio.deliver_mail then link_text = "Start mailing" else link_text = "Stop mailing" end %>
    <% #= link_to link_text, :controller => 'portfolios', :action => 'toggle_mail', :portfolio_id => portfolio.id %>
        </td>
      </tr>
      !-->
    </table>
  </div>
  <h2><%= link_to portfolio.name, edit_portfolio_path(portfolio.id) %></h2>
  <table cellspacing="0" class="stock">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th>Bought at</th>
        <th>Latest</th>
        <th>Amount</th>
        <th>Value</th>
        <th>Earned</th>
        <th>Since start %</th>
      </tr>
    </thead>
    <tbody>
  <%
  portfolio.stocks.each do |s|
    sy = s.stock_yank
  %>
      <tr>
        <td class="name"><%= link_to sy.name, stock_yank_path(sy.id) %></td>
        <td><%= s.traded_at %></td>
        <td><%= s.latest(quotes).round(2) %></td>
        <td><%= s.amount %></td>
        <td><%= s.value(quotes).round(2) %></td>
        <td><%= s.earned(quotes).round(2) %></td>
        <td><%= s.percent(quotes).round(2) %>%</td>
      </tr>
  <% end %>
    </tbody>
  </table>
  <%= link_to "Fjern portefølje",
                portfolio,
                :method     => :delete, 
                :confirm    => "Are you sure you want to destroy the portfolio?" %>
</div>
<div style="clear:both"></div>
<% end %>
<h1>
  <%= @user.name %>, <%= @user.email %><br />
</h1>
<div style="color: #AAA; font-style:italic; text-align:center; margin: 10px 0 0 0;">
  Aktierne blev opdateret sidst <%= quotes_updated_at.strftime("%H:%M:%S") %>
</div>
