<h1>Portfolios</h1>
<% if @portfolios == [] %>
  It looks like you haven't created a portfolio yet. You can make one in the form below.
<% end %>
<% @portfolios.each do |portfolio|
  total_value = portfolio.current_amount.round + portfolio.get_value(quotes) unless (portfolio.stocks == [])
  difference = total_value - portfolio.start_amount.round if total_value %>
<div class="portfolio">
  <div class="summary">
    <h2>Summary</h2>
    <table cellspacing="0">
      <tr>
        <td>Cash</td>
        <td>
    <%= portfolio.current_amount.round(2) %>
        </td>
      </tr>
      <tr>
        <td>Difference</td>
        <td>
    <%= difference.round(2) if difference %>
        </td>
      </tr>
      <tr>
        <td>Starting amount</td>
        <td>
    <%= portfolio.start_amount.round(2) %>
        </td>
      </tr>
      <tr>
        <td>Total value</td>
        <td>
    <%= total_value.round(2) if total_value %>
        </td>
      </tr>
      <tr>
        <td>Send mail?</td>
        <td>
    <% if portfolio.deliver_mail then link_text = "Start mailing" else link_text = "Stop mailing" end %>
    <%= link_to link_text, :controller => 'portfolios', :action => 'toggle_mail', :portfolio_id => portfolio.id %>
        </td>
      </tr>
    </table>
  </div>
  <h2><%= link_to portfolio.name, edit_portfolio_path(portfolio.id) %></h2>
  <table cellspacing="0" class="stock">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th>Bought at</th>
        <th>Latest</th>
        <th>Amount</th>
        <th>Value</th>
        <th>Earned</th>
        <th>Since start %</th>
      </tr>
    </thead>
    <tbody>
  <%
  portfolio.stocks.each do |s|
    sy = s.stock_yank
    q = quotes[sy.symbol]
    value = s.value(quotes)
  %>
      <tr>
        <td class="name"><%= link_to sy.name, stock_yank_path(sy.id) %></td>
        <td><%= s.traded_at %></td>
        <td><%= q[:last_trade_price_only] %></td>
        <td><%= s.amount %></td>
        <td><%= value.round %></td>
        <td><%= ( value - (s.traded_at * s.amount) ).round %></td>
        <td><%= ((value / (s.traded_at * s.amount) - 1 )*100).round(2) %>%</td>
      </tr>
  <% end %>
    </tbody>
  </table>
  <%= link_to "Fjern portefølje",
                portfolio,
                :method     => :delete, 
                :confirm    => "Are you sure you want to destroy the portfolio?" %>
</div>
<div style="clear:both"></div>
<% end %>
<%= render 'new' %>
<h1>
  <%= @user.name %>, <%= @user.email %><br />
</h1>
