<div class="trade"></div>
<table cellspacing="0" id="quotes_table" class="display">
  <thead>
    <tr>
      <th class="name">Name</th>
      <th>Latest</th>
      <th>Change</th>
      <th>%</th>
      <th>Buy</th>
      <th>Sell</th>
      <th>Volume</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @stock_yanks.each do |sy|
      if quotes
        q = quotes[sy.symbol]
        stock = Stock.find_by_stock_yank_id_and_portfolio_id(sy.id, @portfolio.id) if @portfolio
        td_class = q[:change].to_f < 0 ? '"negative"' : '"positive"' %>

      <tr class="quotes">
        <td class="name"><%= link_to sy.name, stock_yank_path(sy.id) %></td>
        <td><%= q[:last_trade_price_only] %></td>
        <td class=<%=raw td_class %>><%= q[:change].sub(/[\+]/, '') %></td>
        <td class=<%=raw td_class %>><%= q[:change_in_percent].sub(/[\+]/, '') %></td>
        <td>
          <%= q[:bid] %>
        </td>
        <td>
          <%= q[:ask] %>
        </td>
        <td><%= q[:volume] %></td>
        <td class="add_rm">
            <%= link_to "+",
              { :controller => "stocks", :action => "buy",
                :stock => { 
                  :portfolio_id => (@portfolio ? @portfolio.id : ''),
                  :stock_yank_id => sy.id,
                  :traded_at => q[:last_trade_price_only] } }, :class => "plus" %>
          <% if stock %>
            <%= link_to "-",
              { :controller => "stocks", :action => "sell", :id => stock.id, :traded_at => q[:last_trade_price_only] },
                :class => "minus #{stock.id}" %>
          <% else %>
            <a class="disabled">-</a>
          <% end %>
        </td>
      </tr>
    <% else %>No quotes
    <% end %>
<% end %>
  </tbody>
</table>
<div id="box_focus"></div>
<div style="margin:10px;">
  Need a stock? <%= link_to "Add a stock", new_yank_proposal_path %>
</div>
<div style="clear:both;"></div>

<script type="text/javascript">
  var amount, traded_at;
  // Trade forms events, tweaks and magic
  $(".plus, .minus").click(function(e){
    var trade = $(".trade");
    $.get(this.href, function(data) {
      trade.html(data);
      $(".stock_amount").focus();

      // Not pretty
      amount = parseFloat($(".stock_amount").val());
      traded_at = parseFloat($("#stock_traded_at").val());
      if (amount > 0) {
        $(".cost").html(Math.round(amount * traded_at * 100) / 100);
      }
      // Calculate cost when the user inserts amount
      $(".stock_amount").keyup(function(){
        amount    = parseFloat($(this).val());
        traded_at = parseFloat($(this).parent().siblings("#stock_traded_at").val());
        if (amount > 0)   $(".cost").html(Math.round(amount * traded_at * 100) / 100);
      });

      $("#new_stock, .edit_stock").submit(function(){
        trade.fadeOut(200);
      });
    });
    trade.modal({ modal:true,
                  overlayClose:true });
    return false;
  });

  // Datatable initializing
  $("#quotes_table").dataTable({
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
    "iDisplayLength": 50,
    "aLengthMenu": [[25,50,100,-1],[25,50,100,"All"]],
    "aoColumns": [
      null, null, null,
      { "sType": "percent" }, null, null, null, null
    ]
  });
</script>
