<table class="info" cellspacing="0">
  <tr>
    <td style="text-align:left;">Available:</td>
    <td><%= @portfolio.current_amount %></td>
  </tr>
  <tr>
    <td style="text-align:left;">Cost:</td>
    <td><span class="cost">0</span></td>
  </tr>
</table>
<%= form_for @stock, :url => {:action => 'buy_trade'}, :remote => true do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount, :class => "stock_amount" %>
  </div>
  <%= f.hidden_field :traded_at %>
  <%= f.hidden_field :stock_yank_id %>
  <%= f.hidden_field :portfolio_id %>
  <div class="field">
    <%= f.submit "Send" %>
  </div>
<% end %>
