<h2>Tilføj aktie</h2>

<%
  list_id = params[:list_id]
  form_for(@stock) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <% stocks = StockYank.find(:all, :conditions => { :id => 1..75 }) %>
    <%= f.collection_select(
                 :stock_id,
                 stocks,
                 :id,
                 :name
                ) %>
  </div>
  <%= f.hidden_field :list_id, :value => list_id %>
  <div class="actions">
    <%= f.submit "Tilføj aktie" %>
  </div>
<%
end
  stock = Stock.find_all_by_list_id(list_id)
  stock.each do |stock| 
    stock_yank = StockYank.find(:first, :conditions => { :id => stock.stock_id }) %>
    <table>
      <tr>
        <th class="edit_stock_th">
      <%= stock_yank.name %>
        </th>
        <td>
          <%= link_to "Delete", stock, :method => "delete", :confirm => "Sure?" %>
        </td>
      </tr>
    </table>
<% end %>
