<% @portfolios.each_with_index do |portfolio, index| %>
  <h2><%= portfolio.name %></h2>
<table cellspacing="0" class="stock">
  <thead>
    <tr>
      <th class="name">Name</th>
      <th>Latest</th>
      <th>Change</th>
      <th>%</th>
      <th>Low</th>
      <th>High</th>
      <th>Bid</th>
      <th>Ask</th>
      <th>Volume</th>
    </tr>
  </thead>
<%
portfolio.stocks.each do |s|
  sy = s.stock_yank
  q = @quotes[sy.name]
%>
  <tbody>
    <tr class="quotes">
      <td class="name"><%= q[:name].squeeze(" ").strip.titleize %></td>
      <td><%= q[:last_trade_price_only] %></td>
      <td><%= q[:change] %></td>
      <td><%= q[:change_in_percent] %></td>
      <td><%= q[:day_low] %></td>
      <td><%= q[:day_high] %></td>
      <td><%= q[:bid] %></td>
      <td><%= q[:ask] %></td>
      <td><%= q[:volume] %></td>
    </tr>
  </tbody>
<% end %>
</table>
<div style="clear:both"></div>
<% end %>
<h1>
  <%= @user.name %>, <%= @user.email %><br />
</h1>
