<h1>Din side<h1>
<h2>
  <%= h @user.name %>, <%= @user.email %><br />
  <%= gravatar_for @user, :size => 200 %>
</h2>
<%= link_to "Rediger lister", :controller => "lists", :action => "new" %>
<% @list.each do |list| %>
  <h2><%= list.name %></h2>
  <% if signed_in? %>
    <p style="margin:0; padding:0;">
<%= link_to "Rediger aktier for denne liste", :controller => "stocks", :action => "new", :list_id => list.id %>
    </p>
  <% end %>
<%
  stock = Stock.find_all_by_list_id(list.id)
  stock.each do |stock| 
    stock_yank = StockYank.find(:first, :conditions => { :id => stock.stock_id }) 
%>
    <div class="stock_box">
      <h3><%= stock_yank.name %></h3><hr />
      <table>
        <tr>
          <th>Lav-høj:</th>
          <td>(<%= stock_yank.low.to_s + ' - ' + stock_yank.high.to_s %>)</td>
        </tr>
        <tr>
          <th>Seneste:</th>
          <td><%= stock_yank.latest %></td>
        </tr>
        <tr>
          <th>Omsætning:</th>
          <td><%= add_whitespace(stock_yank.turnover.to_s) %></td>
        </tr>
     </table>
   </div>
<% end %>
<div style="clear:both"></div>
<% end %>
