<h1>
  <%= h @user.name %>, <%= @user.email %><br />
</h1>
<% @list.each do |list| %>
  <h2><%= list.name %></h2>
<%
  stock = Stock.find_all_by_list_id(list.id)
  stock.each do |stock| 
    stock_yank = StockYank.find(:first, :conditions => { :id => stock.stock_id }) 
%>
    <div class="stock_box">
      <h3><%= h stock_yank.name %></h3>
      <table>
        <tr>
          <th>Lav-høj:</th>
          <td>(<%= stock_yank.low.to_s + ' - ' + stock_yank.high.to_s %>)</td>
        </tr>
        <tr>
          <th>Seneste:</th>
          <td><%= stock_yank.latest %></td>
        </tr>
        <tr>
          <th>Omsætning:</th>
          <td><%= add_whitespace(stock_yank.turnover) %></td>
        </tr>
     </table>
   </div>
<% end %>
<div style="clear:both"></div>
<% end %>
