<% @lists.each do |list| %>
  <h2><%= list.name %></h2>
<%
  list.stocks.each do |stock| 
    stock_yank = stock.stock_yank
%>
    <div class="stock_box">
      <h3><%= h stock_yank.name %></h3>
      <table>
        <tr>
          <th>Lav-høj:</th>
          <td>(<%= stock_yank.low.to_s + ' - ' + stock_yank.high.to_s %>)</td>
        </tr>
        <tr>
          <th>Seneste:</th>
          <td><%= stock_yank.latest %></td>
        </tr>
        <tr>
          <th>Omsætning:</th>
          <td><%= add_whitespace(stock_yank.turnover) %></td>
        </tr>
     </table>
   </div>
<% end %>
<div style="clear:both"></div>
<% end %>
<h1>
  <%= @user.name %>, <%= @user.email %><br />
</h1>
