<% @portfolios.each_with_index do |portfolio, index| %>
  <h2><%= portfolio.name %></h2>
<table cellspacing="0" class="stock display">
  <thead>
    <tr>
      <th class="name">Name</th>
      <th>Bought at</th>
      <th>Latest</th>
      <th>Amount</th>
      <th>Value</th>
      <th>Since start cash</th>
      <th>Since start %</th>
    </tr>
  </thead>
  <tbody>
<%
portfolio.stocks.each do |s|
  sy = s.stock_yank
  q = @quotes[sy.name]
  value = s.value(@quotes)
%>
    <tr>
      <td><%= sy.pname %></td>
      <td><%= s.traded_at %></td>
      <td><%= q[:last_trade_price_only] %></td>
      <td><%= s.amount %></td>
      <td><%= value.round %></td>
      <td><%= ( value - (s.traded_at * s.amount) ).round %></td>
      <td><%= ((value / (s.traded_at * s.amount) - 1 )*100).round(2) %>%</td>
    </tr>
<% end %>
  </tbody>
</table>
<div style="clear:both"></div>
<% end %>
<h1>
  <%= @user.name %>, <%= @user.email %><br />
</h1>
