<% @portfolios.each do |portfolio| %>
  <h2><%= portfolio.name %></h2>
<table cellspacing="0" class="stock">
  <tr>
    <th class="name">Name</th>
    <th>Latest</th>
    <th>Low</th>
    <th>High</th>
    <th>Bid</th>
    <th>Ask</th>
  </tr>
<%
  portfolio.stocks.each do |stock|
    stock_yank = stock.stock_yank
    q = @quotes[stock_yank.name]
%>
  <tr class="quotes">
    <td class="name"><%= stock_yank.pname %></td>
    <td><%= q.lastTrade %></td>
    <td><%= q.dayLow %></td>
    <td><%= q.dayHigh %></td>
    <td><%= q.bid %></td>
    <td><%= q.ask %></td>
  </tr>
<% end %>
</table>
<div style="clear:both"></div>
<% end %>
<h1>
  <%= @user.name %>, <%= @user.email %><br />
</h1>
