<h2>
  <%= gravatar_for @user %>
  <%= h @user.name %>
</h2>
<%= @user.email %>
<h2>
  Her er dine aktier
</h2>
<%= link_to "Tilføj aktier", :controller => "stocks", :action => "new", :user_id => @user.id %>
<p>
<% @stock.each do |stock| %>
  <%= stock.name %><span style="width:100px"></span><%= link_to "x", stock, :method => "delete", :confirm => "Sure?" %><br />
<% end %>
</p>
