<h1>
  Sign in
</h1>
<% form_tag do %>
  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %><br />
  <%= label_tag(:password, "Kodeord:") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Log ind") %>
<% end %>
<% puts 'hej' if session[:user] %>
