<h2>Add available stock</h2>
<%= form_for(@stock_yank) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :market %>
    <%= f.collection_select :market_id, Market.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :symbol %><br />
    <%= f.text_field :symbol %>
  </div>
  <div class="field">
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name%>
  </div>
  <div class="actions">
    <%= f.submit "Add" %>
  </div>
<% end %>
