<h1><%= @stock_yank.name %> history</h1>
<%= form_tag stock_yank_path(@stock_yank.id), :method => 'get' do %>
  Start:
  <%= select_date 31.days.ago, :prefix => "start" %>
  End:
  <%= select_date 1.day.ago, :prefix => "end" %>
  <%= submit_tag "Update" %>
<% end %>
<table cellspacing="0" class="history" style="float:left;">
  <thead>
    <tr>
      <th class="date">Date</th>
      <th>Low</th>
      <th>High</th>
      <th>Open</th>
      <th>Close</th>
      <th>Volume</th>
    </tr>
  </thead>
  <tbody>
<% @days.each do |d| %>
      <tr>
        <td class="date">
  <%= d[0] %>
        </td>
        <td>
  <%= d[3] %>
        </td>
        <td>
  <%= d[2] %>
        </td>
        <td>
  <%= d[1] %>
        </td>
        <td> 
  <%= d[4] %>
        </td>
        <td> 
  <%= d[5] %>
        </td>
      </tr>
<% end %>
  </tbody>
</table>
<div style="float:right; width:450px; margin-top:20px;">
  <h2>Stock information chart for <%= @stock_yank.name %></h2>
  <%=raw Gchart.line(:data => [@chart[:highs],@chart[:lows],@chart[:closes]],
                     :legend => ['high', 'low', 'close'],
                     :max_value => @chart[:max],
                     :min_value => @chart[:min],
                     :axis_with_labels => "x,y",
                     :axis_labels => [@chart[:dates]],
                     :line_colors => '6BFF93,00D138,CF8A8A',
                     :custom => '&chm=b,E5FFEC,1,0,0',
                     :size => '450x400',
                     :style => "float:right;",
                     :format => "image_tag") %>
</div>
<div style="clear:both;"></div>
