<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'jquery.jgrowl' %>
  <%= stylesheet_link_tag 'jquery-ui' %>
  <%= stylesheet_link_tag 'table_jui' %>
  <%= stylesheet_link_tag 'custom' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'jquery.dataTables.min.js' %>
  <%= javascript_include_tag 'jquery.jgrowl_minimized.js' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <!--[if !IE 7]>
    <style type="text/css">
      #wrap {display:table;height:100%}
    </style>
  <![endif]-->  
</head>
<body>
<div id="box_focus"></div>
<div id="front_logo"><h1>Swollocks</h1></div>
<div id="display">
  <div class="home_img">
<%= link_to "Sign in!", signin_path, :class => "signin_button_t signin" %>
    <div id="signin_box">
      <%= render 'sessions/new' %>
    </div>
<%= link_to "Sign up!", signup_path, :class => "signup_button signup" %>
    <div id="signup_box">
      <%= render 'users/new' %>
    </div>
  </div>
  <div class="home_box">
    <h1>Some say the taste of success is bittersweet..</h1>
    <p>
.. but we find it to our liking. Swollen Stocks are stocks the way they should be, growing and showing. You might even go as far, as to call them <i>swell</i>.
    </p>
  </div>
  <div class="home_box">
  <h1>We make it easy to be smart..</h1>
  <p>
.. but there is no easy way to get paid. Muster up the brain power you do have, and let Swollocks help you make the most of it.
  </p>
  </div>
</div>

<div style="clear:both"></div>
<!-- <div style="text-align:center; width:780px; margin:0 auto 40px auto;"><h2>Sir, please tell me, what are you still doing here? Sign up, sign in or go away!</h2></div> !-->
</body>
</html>
