<% if user_signed_in? %>
<ul id="nav">
    <li><%= link_to "Portfolios", root_path %></li>
    <li><%= link_to "Stocks", stocks_path %></li>
    <li><%= link_to "Trades", trades_path %></li>
    <% if current_user.admin? then %>
      <li><%= link_to "Yanks", stock_yanks_path %></li>
      <li><%= link_to "Proposals", yank_proposals_path %></li>
    <% else %>
      <li></li>
    <% end %>
    <!--
    <li><%= link_to "Notes", notes_path %></li>
    <li><%= link_to "Settings", edit_user_registration_path(current_user) %></li>
     !-->
    <li><%= link_to "Sign out", destroy_user_session_path, :method => :DELETE %></li>
</ul>
<% end %>
