<% if signed_in? %>
<ul id="nav">
    <li><%= link_to "Home", root_path %></li>
    <% if current_user.admin? %>
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "Stocks", stock_yanks_path %></li>
    <% end %>
    <li><%= link_to "Portfolios", new_portfolio_path %></li>
    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
    <li>
    <%= link_to "Sign out", signout_path %>
  </li>
</ul>
<% end %>
