<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'jquery.jgrowl' %>
  <%= stylesheet_link_tag 'jquery-ui' %>
  <%= stylesheet_link_tag 'table_jui' %>
  <%= stylesheet_link_tag 'custom' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'jquery.dataTables.min.js' %>
  <%= javascript_include_tag 'jquery.jgrowl_minimized.js' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= render 'layouts/header' %>
<div id="container">
  <div id="main">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    <%= yield %>
  <%= debug(params) if Rails.env.development? %>
  </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
